<div class="contents">
  <div class="message">
    <div class="comment">
    <%# js非対応のsearch機能 %>
    <%= form_with(url: search_tweets_path, local: true, method: :get, class: "comment__search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "食材名かカロリー数値を入力してください", class: "comment__search-input" %>
    <%= button_tag type:"submit" , class: "comment__search-btn" do %>
    <%= fa_icon("search") %>
    <% end %>
    <% end %>
    <%# js対応のsearch機能 %>
    <%# <%= form_with(url: search_tweets_path, local: true, method: :get, class: "comment__search-form") do |form| %>
    <%# <%= form.text_field :keyword, placeholder: "食材名かカロリー数値を入力してください", class: "comment__search-input" %> 
    <%# <%= form.submit "検索", class: "comment__search-btn" %> 
    <%# <% end %> 

    </div>
  </div>
  <%# <div class="contents">  %>
  <% @tweets.each do |tweet| %>
  <%= link_to tweet_path(tweet.id) do %>
    <div class="content">
      <div class="content__left">
        <div class="content__left--images">
          <%= image_tag tweet.image.to_s,class: "content__left--images--image" %>
        </div>
      </div>
      <div class="content__right">
        <div class="content__right__top">
          <%=tweet.title %>
        </div>
        <div class="content__right__bottom">
          <div class="content__right__bottom--date">
            <%= tweet.data  %>
            kcal
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  <%= paginate(@tweets) %>
</div>

