<div class="formcontent">
<div class="formcontent__title">
  データの編集
  <% if @post.errors.any? %>
   <p class="error" >入力ミスです。確認してください！</p>
  <% end %>
</div>
<%= form_with model: @post, class: :form, local: true do |form| %>
<div class=daytitle>日付を入力してください　記述例：2020/1/1（必須）</div>
  <%= form.text_field :day, placeholder: :日付の入力を行ってください（半角）, class: :formday %>

  <div class=calcomment>朝の摂取カロリーを入力してください（必須）</div>
  <div class=comment>
    <%= form.text_field :morning, placeholder: :整数で入力を行ってください（半角）, class: :calinput %>
    <div class=caltext>Kcal</div>
  </div>


  <div class=calcomment>昼の摂取カロリーを入力してください（必須）</div>
  <div class=comment>
    <%= form.text_field :lunch, placeholder: :整数で入力を行ってください（半角）, class: :calinput %>
    <div class=caltext>Kcal</div>
  </div>
  
  <div class=calcomment>夜の摂取カロリーを入力してください（必須）</div>
  <div class=comment>
    <%= form.text_field :dinner, placeholder: :整数で入力を行ってください（半角）, class: :calinput %>
    <div class=caltext>Kcal</div>
  </div>
  
  <%= form.submit '登録する', class: :form__btn %>
<% end %>
</div>