<div class="contents">
<div class="postTitle">
  <%= @post.day.strftime('%Y年%m月%d日') %>結果表
</div>

<div class=calmor>
  <div class="calmor__caltext1">朝の摂取カロリー</div>
  <div class="calmor__calresult1">
    <%= @post.morning %>
    Kcal
  </div>
</div>

<div class=callun>
  <div class="callun__caltext2">昼の摂取カロリー</div>
  <div class="callun__calresult2">
    <%= @post.lunch %>
    Kcal
  </div>
</div>

<div class=caldin>
  <div class="caldin__caltext3">夜の摂取カロリー</div>
  <div class="caldin__calresult3">
    <%= @post.dinner %>
    Kcal
  </div>
</div>

<div class = caltotal>
<div class="caltotal__caltotaltext">1日の摂取カロリー合計</div>
  <div class="caltotal__calanswer">
    <%= @post.morning + @post.lunch + @post.dinner %> 
    Kcal
  </div>
</div>

<%# 編集ボタン %>
<%# ビューtweets.scss参照 %>
<div class="postManage">
  <%= link_to "編集", edit_post_path(@post.id), class: "postManage__edit" %>
  <%= link_to "削除", post_path(@post.id), method: :delete, class: "postManage__delete" %>
</div>
</div>